body {
    background-color: rgb(105, 105, 105);
}

h1 {
    font-size: 100px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    color: rgb(255, 150, 111);
    text-align: center;
    filter:drop-shadow(6px 6px 4px #000);
    border: 4px solid white;
}